
#activities-edit {
  position: absolute;
  box-sizing: border-box;
  background-color: #5998C5;
  border: 2px solid;
  box-shadow: 2px 2px rgba(0, 0, 0, .3);
  border-radius: 1rem;
  inset: 2rem;
  display: grid;
  grid-template-rows: repeat(7, 1fr);

}

@media only screen and (min-width: 1001px) {
  #small-toggle {
    visibility: collapse;
  }

  #add-activities {
    margin-right: 1rem;
  }

  #edit-current-activities {
    margin-left: 1rem;
  }

}

@media only screen and (min-width: 1000px) {


  #activities-edit {

    #activities-edit-title {
      @include grid-position(1, 5, 1, 2);
      font-family: 'Indie Flower', cursive;
      font-size: clamp(2rem, 3rem, 4rem);
      color: white;
      margin: auto;
    }
  

  
    
    #edit-container {
      @include grid-position(1, 5, 2, 8);
      border-radius: 1rem;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      margin-bottom: 2.5rem;
      display: grid;

    
      #add-activities {
        @include grid-position(1, 2, 1, 2);
        @include internal-box();

        display: grid;
        grid-template-rows: repeat(5, 1fr);
        position: relative;
  
        #add-edit-title {
          @include grid-position(1, 2, 1, 2);
          margin: auto;
          font-family: 'Josefin Sans', sans-serif;
          font-size: clamp(1.5em, 2em, 2.5em);
  
        }
        #toggle-button {
          @include grid-position(1, 2, 2, 3);
          margin: auto;
          font-family: 'Josefin Sans', sans-serif;
          font-size: clamp(1em, 1.3em, 1.5em);
          display: flex;

        }
        #name-input {
          @include grid-position(1, 2, 2, 3);
          margin: 3rem 3rem;
          border-radius: 1rem;
          padding-left: 1rem;
          font-family: 'Josefin Sans', sans-serif;
          font-size: clamp(1em, 1.3em, 1.5em);
        }

        #activity-error-field-active {
          @include grid-position(1, 2, 2, 3);
          color: red;
          position: absolute;
          bottom: 10%;
          left: 15%;

        }
        #activity-error-field-inactive {
          visibility: collapse;
        }

        #category-input {
          @include grid-position(1, 2, 3, 4);
          margin: 3rem 3rem;
          border-radius: 1rem;
          padding-left: 1rem;
          font-family: 'Josefin Sans', sans-serif;
          font-size: clamp(1em, 1.3em, 1.5em);
        }

        #category-error-field-active {
          @include grid-position(1, 2, 3, 4);
          color: red;
          position: absolute;
          bottom: 10%;
          left: 15%;
        }

        #category-error-field-inactive {
          visibility: collapse;
        }

        #save-button {
          @include grid-position(1, 2, 4, 5);
          margin: 3rem 2rem;
          box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
          border: 2px solid black;
          border-radius: 5px;
          background-color: #CFFFB0;
          font-size: clamp(1rem, 4vw, 2rem);
          transition: all .3s;
        }

        #save-button:hover {
          scale: 1.05;
          transform: translateY(-3%);

        }

        #activity-exists-error {
          @include grid-position(1, 2, 5, 6);
          color:red;
          font-size: 1.5rem;
          text-align: center;
        }
        #activity-exists-error-inactive {
          visibility: collapse;
        }
  
      }
      #edit-current-activities {
        @include grid-position(2, 3, 1, 2);
        @include internal-box();
        border-radius: 1rem;

        display: grid;
        grid-template-rows: repeat(5, 1fr);
        overflow-y: hidden;


        #edit-current-title {
          @include grid-position(1, 2, 1, 2);
          font-family: 'Josefin Sans', sans-serif;
          font-size: clamp(1.5em, 2em, 2.5em);
          margin: auto;
  
        }
        #current-list {
          @include grid-position(1, 2, 2, 6);
          overflow-y: scroll;
  
          #map-item {
            font-family: 'Josefin Sans', sans-serif;
            text-align: center;
            padding: .8rem 2rem;
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #000;
            position: relative;
          
            #item-name {
              font-size: clamp(1.5em, 2em, 2.5em);
              margin-right: auto;
              padding-left: .5rem;
              cursor: default;

            }

            #item-hover {
              position: absolute;
              border-radius: 5px;
              top: 100%;
              left: 0;
              width: 100%;
              opacity: 0;
              transition: all 0.3s;
              background-color: #D9D9D9;
              padding: 3px;
              z-index: 3;
              box-sizing: border-box;
            }

            #item-del {
              color: red;
              border: 1px solid black;
              border-radius: 3px;
              padding: 0.3rem .5rem;
              margin: auto 0;
              margin-left: auto;
              cursor: pointer;
            }
          }
          #map-item:hover #item-hover {
            opacity: 1;
            position: relative;
          }
        }
        #current-list::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}





//Small screen
@media only screen and (max-width: 1000px) {

  #activities-edit {

  
    #activities-edit-title {
      @include grid-position(1, 2, 1, 2);
      font-family: 'Indie Flower', cursive;
      font-size: clamp(1.5rem, 1.7rem, 2rem);
      color: white;
      margin: auto;
    }
  
    #small-toggle {
      @include grid-position(1, 2, 1, 2);
      display: flex;
      margin: 0 auto;
      margin-top: 6rem;
    }

    #small-toggle:has(input:checked) ~ #edit-container > #edit-current-activities {
      visibility: collapse;
    }
  
    
    #edit-container {
      @include grid-position(1, 2, 2, 8);
      border-radius: 1rem;
      margin: auto;
      display: grid;
    
      #add-activities {
        @include grid-position(1, 2, 1, 2);
        @include internal-box();
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        position: relative;
        font-family: 'Josefin Sans', sans-serif;

  
        #add-edit-title {
          @include grid-position(1, 2, 1, 2);
          margin: auto;
          padding: .5rem;
          font-size: clamp(1rem, 6vw, 1.8rem);
  
        }


        #name-input {
          @include grid-position(1, 2, 2, 3);
          display: grid;

          margin: auto;

          border-radius: 1rem;
          padding-left: 1rem;
          font-size: clamp(1rem, 1.3rem, 1.5rem);
        }

        #activity-error-field-active {
          @include grid-position(1, 2, 2, 3);
          font-size: clamp(.9rem, 2vw, 1rem);
          color: red;
          position: absolute;
          bottom: 10%;
          left: 15%;
        }
        #activity-error-field-inactive {
          visibility: collapse;
        }


        #category-input {
          @include grid-position(1, 2, 3, 4);
          margin: auto;
          border-radius: 1rem;
          padding-left: 1rem;
          font-size: clamp(1em, 1.3em, 1.5em);
        }

        #category-error-field-active {
          @include grid-position(1, 2, 3, 4);
          font-size: clamp(.9rem, 3vw, 1rem);
          color: red;
          position: absolute;
          bottom: 10%;
          left: 15%;
        }

        #category-error-field-inactive {
          visibility: collapse;
        }

        #save-button {
          @include grid-position(1, 2, 4, 5);
          margin: auto;
          padding: .3rem 1rem;
          box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
          border: 2px solid;
          border-radius: 5px;
          background-color: #CFFFB0;
        }

        #activity-exists-error {
          @include grid-position(1, 2, 5, 6);
          color:red;
          font-size: 1rem;
          text-align: center;
        }
        #activity-exists-error-inactive {
          visibility: collapse;
        }
  
      }
      #edit-current-activities {
        @include grid-position(1, 2, 1, 2);
        @include internal-box();
        border-radius: 1rem;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        overflow-y: hidden;
        z-index: 3;
        font-family: 'Josefin Sans', sans-serif;
  
        #edit-current-title {
          @include grid-position(1, 2, 1, 2);

          font-size: clamp(1.5em, 2em, 2.5em);
          margin: auto;
  
        }
        #current-list {
          @include grid-position(1, 2, 2, 6);
          overflow-y: scroll;

  
          #map-item {
            text-align: center;
            padding: .8rem 2rem;
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #000;
            margin: auto 8px;
            position: relative;
            
          
            #item-name {
              font-size: clamp(1rem, 1.5rem, 2rem);
              margin: auto;
            }

            #item-hover {
              position: absolute;
              border-radius: 5px;
              top: 100%;
              left: 0;
              width: 100%;
              opacity: 0;
              transition: all 0.3s;
              background-color: #D9D9D9;
              padding: 3px;
              z-index: 3;
              box-sizing: border-box;
            }

            #item-del {
              color: red;
              border: 1px solid black;
              border-radius: 3px;
              padding: 0rem .5rem;
              padding-top: 0.3rem;
              margin: auto 0;
              cursor: pointer;
              font-size: 24px;
              line-height: 24px;
              
            }
          }
          #map-item:hover #item-hover {
            opacity: 1;
            position: relative;
          }
        }
        #current-list::-webkit-scrollbar {
          display: none;
        }
  
      }
    }
  
  }
}




