
#activities-input {
  position: absolute;
  box-sizing: border-box;
  background-color: #5998C5;
  border: 2px solid;
  box-shadow: 2px 2px rgba(0, 0, 0, .3);
  border-radius: 1rem;
  inset: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  #activities-input-title {
    @include grid-position(1, 5, 1, 2);
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: clamp(2em, 3em, 4em);
    margin: auto;

  }

  #activities-input-display {
    @include grid-position(1, 5, 2, 8);
    border-radius: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  
    #activity-dropdown {
      @include grid-position(1, 2, 2, 3);
      font-family: 'Josefin Sans', sans-serif;
      font-size: clamp(1.5em, 1.8em, 2.5em);
      border-radius: 5px;
      box-shadow: 1px 2px rgba(0, 0, 0, .3);
      margin: auto;
      
    }

    #time-dropdown {
      @include grid-position(2, 3, 2, 3);
      font-family: 'Josefin Sans', sans-serif;
      font-size: clamp(1.5em, 1.8em, 2.5em);
      border-radius: 5px;
      box-shadow: 1px 2px rgba(0, 0, 0, .3);
      margin: auto;
    }
  
    #record-button {
      @include grid-position(1, 3, 3, 4);
      background-color: #CFFFB0;
      border-radius: 1rem;
      padding: .8rem 1.2rem;
      box-shadow: 1px 2px rgba(0, 0, 0, .3);
      font-family: 'Josefin Sans', sans-serif;
      font-size: clamp(2em, 2.5em, 3em);
      margin: auto;
      transition-property: background-color, translateX, color, box-shadow;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
    }
    #record-button:hover {
      color: white;
      background-color: #a2f46c;

      box-shadow: 2px 3px rgba(255, 255, 255, 0.6);

    }
    #record-button:active {
      transform: scale(0.98);
    }
  }
}

