
#activities {
  @include internal-box(#5998C5);
  position: absolute;
  box-sizing: border-box;
  inset: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  #activities-title {
    @include grid-position(1, 5, 1, 2);
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: clamp(2em, 3em, 4em);
    margin: auto;

  }

  #activities-display {
    @include grid-position(1, 5, 2, 8);
    @include internal-box();    
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;

    #current-activities {
      font-family: 'Indie Flower', cursive;
      font-size: clamp(2em, 3em, 4em);
      text-align: center;
      margin-top: 1rem;
    }

  }

}

